{% extends 'base.html'%}
{% load embed_video_tags %}



{% block content %}

<div class="container-fluid">
  <div class="row">
  {% for game in games %}

  <div class="col-md-4">
 <div class="card" style="width: 18rem;">
  {% video game.video '400x300'  %}
    <div class="card-body">
      <h5 class="card-title">{{game.title}}</h5>
      <p class="card-text"><a href="{{game.video}}" target="_blank" ><i class="fa fa-youtube-play" aria-hidden="true"></i></a></p>
      <a href="{%url 'singlegame' game.id%}" class="btn btn-primary">Review</a>
    </div>
</div>
</div>
{%endfor%}
</div>
</div>
{%endblock%}

