{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% block content %}
<div>
  <a href="{%url 'game_queries' forum.id%}" class="btn btn-primary">Back</a>
  <p class="card-text"><b>{{query.user}}:</b> <i>{{query.title}}</i></p>
</div>
{% if all_answer %}
<div class="col-md-5">
    {% for answer in all_answer %}
    
    <div class="card "  style="width: 18rem;">
      
      <div class="card-body">
      
        <p class="card-text"><b>{{answer.author}}:</b> <i>{{answer.answer}}</i></p>
        <span><a href="{{reviews.link}}" target="_blank">{{answer.link}}</a></span>
      
      </div>
    </div>
    {%endfor%}
  </div>

{%else%}
No answers yet
{%endif%}
<div class="container w-50 p-3">
    <form action="#" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <p>Error in the form </p>
        {% endif %}

        {%bootstrap_form form%}

        <input type="submit" value="Reply">
    </form>
  </div>
</body>

{%endblock%}
